body {
  background-color: #e8f0fe;
  padding-top: 20px;
}

.card {
  border-width: 2px;
}

.bg-budget {
  background-color: #e6ffed;
  border-color: #198754;
}

.bg-bill {
  background-color: #ffe6e6;
  border-color: #dc3545;
}

.text-danger:hover {
  color: #b41717 !important;
}
